.side_bar
  .side_bar__name
    user.name
    %span.icon_bar
      = link_to root_path do
        = fa_icon "edit",class: 'icon'
      = link_to root_path do
        = fa_icon "cog",class: 'icon'
  .side_bar__group
    .group_name group.name
    .last_message last_message
  .side_bar__group
    .group_name group.name_2
    .last_message last_message_2


