.chat{
  position: relative;
  width: calc(100vw - 300px);
  height: 100vh;
  background: #f9f9f9;
  float: left;
  &__group {
    height: 110px;
    padding-left: 40px;
    background: white;
    .chat-contents{
      float: left;
      .name{
        padding-top: 35px;
        font-size: 20px;
        color: #333333;
      }
      .members{
        padding-top: 15px;
        font-size: 12px;
        color: $light_gray;
      }
    }
    .edit_button{
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      font-weight:bold;
      color: $light_blue;
      text-decoration: none;
      padding: 0px 20px;
      margin-top: 28px;
      margin-right: 40px;
      float: right;
      border: 2px solid $light_blue;
    }
  }


  &__messages{
    padding-bottom: 40px;
    padding-left: 40px;
    .user_name{
      font-size: 16px;
      font-weight:bold;
      color: $text_black;
    }
    .updated_at{
      font-size: 12px;
      color: $light_gray;
    }
    .body{
      padding-top: 10px;
      font-size: 14px;
      color: $text_black;
    }
  }
  &__form{
    position: absolute;
    line-height:90px;
    height: 90px;
    width: calc(100vw - 300px);
    background: #AAAAAA;
    bottom: 0px;
    .text{
      position: relative;
      margin-left: 40px;
      height: 50px;
      width: calc(100vw - 515px);
      font-size: 16px;
      color: $text_black;
      padding-left: 10px;
      z-index:1;
    }
    .button{
      height: 50px;
      width: 100px;
      float: right;
      color: white;
      background:$light_blue;
      margin-top:20px;
      margin-right: 40px;
    }
    .send-icon{
      position: absolute;
      z-index:2;
      bottom: 35px;
      right: 175px;
    }
  }
  hr{
    margin-top: 0px;
    border: 0;
    border-top: 1px solid #eeeeee;
    margin-bottom: 46px;
  }
}
