.side_bar{
  background: #2f3e51;
  width: 300px;
  height: 100vh;
  color: #FFFFFF;
  float: left;
  &__name {
    background: #253141;
    height: 110px;
    line-height:110px;
    font-size: 16px;
    font-weight:bold;
    padding-left: 20px;
    .icon_bar{
      float: right;
      padding-right: 20px;
      .icon{
        color: white;
      }
    }
  }
  &__group {
    padding-top: 20px;
    padding-left: 20px;
    .group_name{
      font-size: 15px;
      color: white;
    }
    .last_message{
      font-size: 11px;
      padding-bottom: 20px;
      color: white;
    }
  }
}
